<h1>You're in default components</h1>

<!-- <h1 *ngIf="true">Hello from Angular</h1> -->
<!-- <h1 *ngIf="false">Hello from Angular</h1> -->
<!-- <h1 *ngIf="hide">Hello from Angular</h1> -->

<!-- <h1 *ngIf="show; else elsePart">Hello from Angular</h1>

<ng-template #elsePart>
    <h1>This is else part, We are using ng-template</h1>
</ng-template> -->

<!-- <h1 *ngIf="hide; else elsePart">Hello from Angular
</h1>

<ng-template #elsePart>
    <h1>This is else part, We are using ng-template</h1>
</ng-template> -->
<!-- <h1 *ngIf="show; then ifPart else elsePart">Hello from Angular</h1>

<ng-template #ifPart>
    <h1>This is if part</h1>
</ng-template>

<ng-template #elsePart>
    <h1>This is else part</h1>
</ng-template> -->

<!-- <h1 *ngIf="name=='john'; then ifPart else elsePart">Hello from A ngular
</h1>

<ng-template #ifPart>
    <h1>Name match</h1>
</ng-template>

<ng-template #elsePart>
    <h1>Name not match</h1>
</ng-template> -->

<!-- <div [ngSwitch]="name">
    <p *ngSwitchCase="'PARIKSHIT'">PARIKSHIT </p>

</div> -->


<!-- <div [ngSwitch]="course">
    <p *ngSwitchCase="'python'" style="color:chartreuse;">Python </p>
    <p *ngSwitchCase="'java'" style="color: red;">JAVA </p>
    <p *ngSwitchCase="'angular'" style="color: blueviolet">Angular</p>
</div> -->

<!-- <div [ngSwitch]="course">
    <p *ngSwitchCase="'python'" style="color: red;">Python </p>
    <p *ngSwitchCase="'java'" style="color: red;">JAVA </p>
    <p *ngSwitchCase="'angular'" style="color: red;">Angular</p>
    <p *ngSwitchDefault style="color: blue;">Default Value</p>
</div> -->

<!-- <div style="color: blue;" *ngFor="let i of lang">
    <h1>{{ i }}</h1>
</div> -->

<div *ngFor="let i of user">
    <h1>{{ i.name }} , {{ i.email }}</h1>
</div>